---
interface Props {
  name: string;
  color: string;
  rating: number;
  duration: string;
  explicit?: boolean;
  type?: "default" | "interlude" | "hidden-gem" | "single" | "bonus" | string;
}

const {
  name,
  color,
  rating,
  duration,
  explicit = false,
  type = "default",
} = Astro.props;

const transColorMap = {
  default: "bg-light-blue/25",
  interlude: "bg-light-purple/25",
  "hidden-gem": "bg-light-yellow/25",
  single: "bg-light-green/25",
  bonus: "bg-light-red/25",
};

const colorMap = {
  default: "bg-light-blue",
  interlude: "bg-light-purple",
  "hidden-gem": "bg-light-yellow",
  single: "bg-light-green",
  bonus: "bg-light-red",
};

// @ts-ignore
const dashTransCls = `rounded-full ${transColorMap[type]} flex-1`;
// @ts-ignore
const dashCls = `rounded-full ${colorMap[type]}`;
---

<div class="space-y-1">
  <div class="flex justify-between items-center">
    <div class="flex gap-2 items-center">
      <p class="text-3xl font-medium">{name}</p>
      {
        explicit && (
          <div
            class="aspect-sqaure h-6 w-6 bg-white/50 rounded text-center font-black"
            style={`color: ${color}`}
          >
            E
          </div>
        )
      }
    </div>
    <p class="text-white/50 font-mono">{duration}</p>
  </div>
  <div class={dashTransCls}>
    <div class={dashCls} style={`width: ${rating * 10}%`}>
      <p class="font-mono font-bold text-center text-sm" style={`color: ${color};`}>
        {rating}/10
      </p>
    </div>
  </div>
</div>
